.one{
  background-color: pink;
}
#one{
  font-weight: 200px;
  color: blue;
}
.two{
  font-weight: 150px;
  background-color: pink;
}
#two{
  font-weight: bold;
  background-color: green:
}
.three{
  background-color: pink;
}
  
