div{
    background-color: red;
    color: white;
    padding: 20px;
    }
p{
    background-color: green;
    color: white;
    }
button{
    background-color: yellow;
    padding: 10px;
    }