div{
    background-color: red;
    font-weight: 500px;
    color: white;
    padding: 20px;
    }
p{
    background-color: green;
    color: white;
    }
button{
    background-color: orange;
    padding: 10px;
    }